@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lemonada&family=Orbitron:wght@600&family=Tektur:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Honk&display=swap');



/* font-family: 'Dancing Script', cursive;
font-family: 'Lemonada', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Tektur', sans-serif; */


* {
    box-sizing: border-box;
}




body {
    background-image: url(../img/png-transparent-yellow-abstract-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.title {
    font-family: 'Bungee Spice', sans-serif;
    font-size: 40px;
}

.main-div {


    display: grid;
    place-items: center;

    height: 100dvh;

}

.container-list {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;


}

.main-content {
    width: 50%;
    display: grid;
    place-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px black;
    border-radius: 20px;
    height: fit-content;

}

.task-div {
    max-height: 250px;
    width: 90%;
    overflow-y: auto;
    margin: 20px;
    padding: 10px;
    position: relative;


}

#error,#error2{
    position: sticky;
    top: 0px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    font-weight: 500;
    width: fit-content;
    margin: auto;
}

#mytextshow{
    padding: 0;
    margin: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 7px black;
    padding: 5px 10px;
    background: white;
    border-radius: 20px;
    margin: 30px 0px;


}
.fa-solid {
    background: ;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 23px;
}

.fa-trash {
    color: red;
}

.fa-circle-check {
    color: green;
}

.fa-pen-to-square {
    color:  gold;
}

.head {
    width: 100%;
    position: fixed;
    top: 10px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 80;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: white;
    box-shadow: 0px 0px 10px grey;
    border-radius: 20px;
    padding:10px 20px;
    width: fit-content;
}

.icons-c {
    width: fit-content;
    padding: 0px;

}



.side-bar {
    position: fixed;
    height: 100dvh;
    width: 0px;
    transition: width 900ms 0s ease;
    left: 0;
    top: 0;

    padding: 5px;



    z-index: 99;
}

.side-bar-features {
    box-shadow: 0px 0px 8px black;
    background: rgb(255, 255, 255);
}

.side-bar-trans {
    transition: width 900ms 0s ease;
}

.side-bar .max {
    display: flex;
    flex-direction: column;
    margin: 40px 10px;
}

.side-bar .max .link {
    font-size: 20px;
    margin: 10px 0px;
    background: rgba(255, 166, 0, 0.682);
    border-radius: 20px;
    padding: 15px 0;
    color: white;
    visibility: hidden;
    position: absolute;
    text-decoration: none;

    text-align: center;
}
.side-bar .max .link:hover{
    background: orange;
}



.time-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 7px;
}

.timevalue,

.time-ing,
.time-count {
    font-family: 'Orbitron', sans-serif;
}
.timevalue{
    font-size: 16px;
    min-width: 145px;
   
}

.time-ing {
    color: rgb(51, 48, 48);
}

#task-count {
    background: orange;
    padding: 5px 10px;
    color: white;
    border-radius: 40%;
}

.icons-co {
    width: 100%;
    display: grid;
    place-items: center;
    position: sticky;

    top: 0;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;

    z-index: 20;
}
.time-count{
    display: none;
    
}

.bi-list,
.bi-x-lg {
    font-size: 35px;
    color: orange;
}

.bi-x-lg {
    display: none;
    transition: display 900ms 0s ease;
}
.task{
    font-weight: 500;
    color: rgb(254, 187, 63);
    text-transform: capitalize;
    min-width: 130px;
    text-align: center;
    overflow-x: auto;
    max-width: 130px;
}
.noshow{
    display: none;
}
@media (max-width:1300px) {
    .main-content {
        width: 70%;

    }
    
}



@media (max-width:1000px) {
    body {
        padding: 0%;
    }
    .task-div {
        max-height:200px;
        width: 90%;
        margin: 0;


    }

    .main-content {
        width: 70%;

    }
    .flex {
        font-size: 15px;
        
    }

    .fa-solid {
        font-size: 18px;
    }

    .timevalue{
        display: none;
    }
    .time-count{
        display: inline-block;

    }


}

@media (max-width:500px) {
    .task-div {
        max-height: 200px;
       


    }


    .main-content {
        width: 90%;

    }

    .fa-solid {
       
        margin: 0px;
    }
    
}
@media (max-width:430px){
    .flex {
        font-size: 20px;
        flex-direction: column;
    }
    .task{
       margin: 10px;
    }
    .time-ing, .time-ing~ button {
       font-size: 15px;
    }

    .fa-solid {
        font-size: 20px;
        margin: 15px 10px;
    }
    .task-div {
        max-height: 360px;
       


    }
    .main-content {
        position: fixed;
        bottom: 25px;

    }
}